@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.steps-to-play li {
  list-style: upper-alpha;
}

.form-inputs {
	@apply w-[80%] mb-3 h-10 rounded-md bg-gray-500 p-5 outline-none text-xl text-black;
}

.grid-boxes-three{
	@apply even:bg-purple-700 odd:bg-red-700 w-[109px] h-[109px] transition delay-300 ease-in-out
}

.grid-boxes-four{
	@apply even:bg-purple-700 odd:bg-red-700 w-[82px] h-[82px] transition delay-300 ease-in-out
}

.grid-boxes-five{
	@apply even:bg-purple-700 odd:bg-red-700 w-[65px] h-[65px] transition delay-300 ease-in-out
}

.size{
	@apply w-[50px] h-[50px] rounded-full flex items-center justify-center bg-gray-700
}

.active-link{
	@apply bg-orange-700
}